#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

pname:=nvidia-peer-memory
pdkms:=$(pname)-dkms
dkms_pkg:=nv_peer_mem-$(pversion)
pversion := $(shell dpkg-parsechangelog | sed -n 's/^Version: *\([^-]\+\)-.\+/\1/p')

%:
	dh $@ --with dkms

override_dh_auto_clean:

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_install:
	make DESTDIR=$(CURDIR)/debian/tmp install-dkms install-utils
	$(CURDIR)/debian/updateInit.sh debian/tmp/etc/init.d/nv_peer_mem

override_dh_installinit:
